@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 70 40% 6%;
    --background: 72 56% 98%;
    --foreground: 70 40% 6%;
    --card: 72 56% 98%;
    --card-foreground: 70 40% 6%;
    --popover: 72 56% 98%;
    --popover-foreground: 70 40% 6%;
    --primary: 72 69% 52%;
    --primary-foreground: 70 40% 6%;
    --secondary: 72 82% 73%;
    --secondary-foreground: 70 40% 6%;
    --muted: 72 57% 20%;
    --muted-foreground: 70 40% 70%;
    --accent: 72 97% 65%;
    --accent-foreground: 70 40% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 70 40% 6%;
    --border: 72 57% 20%;
    --input: 72 57% 20%;
    --ring: 72 97% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --text: 70 40% 94%;
    --background: 70 60% 2%;
    --foreground: 70 40% 94%;
    --card: 70 60% 2%;
    --card-foreground: 70 40% 94%;
    --popover: 70 60% 2%;
    --popover-foreground: 70 40% 94%;
    --primary: 72 69% 48%;
    --primary-foreground: 70 60% 2%;
    --secondary: 72 82% 27%;
    --secondary-foreground: 70 60% 2%;
    --muted: 71 61% 80%;
    --muted-foreground: 70 40% 94%;
    --accent: 72 97% 35%;
    --accent-foreground: 70 60% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 71 41% 10%;
    --border: 70 60% 60%;
    --input: 71 61% 80%;
    --ring: 72 97% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
